/*estilos del index*/
.divBodyIndex {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "footer";
  align-items: center; }

/*estilo del header*/
header {
  background-image: linear-gradient(to right, #f7f4f8, #e4f2fa);
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 2;
  grid-area: header;
  text-shadow: 1px 1px gray;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; }
  header nav {
    display: flex;
    justify-content: space-between; }
  header ul li {
    list-style: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin: 2 px 5px;
    padding: 0.3rem;
    font-size: 0.8rem; }

/*estilo del main*/
.mainIndex {
  grid-area: main; }

img {
  margin: 10px;
  border-radius: 3px;
  width: 95%; }

/*estilos del footer*/
footer {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  background-image: linear-gradient(to left, #f7f4f8, #e4f2fa);
  text-align: center;
  grid-area: footer; }
  footer a {
    font-weight: bold; }
  footer .socialMedia {
    display: inline-block;
    margin: 10px; }

@media screen and (min-width: 600px) {
  .divBodyIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    align-items: center; }
  header h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem; } }
